<ion-header no-border>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="toogleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="{{url + 'usuarios/avatar/' + user.image }}" alt="avatar" height="30px" >
      </ion-avatar>
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-header>
    <ion-toolbar>
      <ion-title><h5>Notificaciones</h5></ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="borrarMensajes()"
                    color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
     <!-- <ion-list-header>
        <ion-label>UserID</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>{{ userId }}</ion-label>
      </ion-item>-->
      <ion-item *ngFor="let push of mensajes">
        <ion-label>
          <h3> {{ push.title }}</h3>
          <p> {{ push.body }}</p>
          <p>
            {{ push.additionalData | json }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>


