

.formlogin{
    margin-top: 20%;
    padding:10px;
}

.icon{
    display:block;
    margin:auto;
    margin-top:20%;
    width:30%;
    
}

.aviso{
    margin:3%;
}

.btnEnvio{
    margin-top: 10%;
    background-color: #ffffff;
    color:#312626;
    border-radius: 10px;
}