<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recetas</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/imagenes/Quique.png" alt="avatar" height="30px" >
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nombre:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <p>Cantidad:</p>
        </ion-item>
        <ion-item>
          <p>Fecha:</p>
        </ion-item>
        <ion-item>
          <p>Frecuencia:</p>
        </ion-item>
        <ion-item>
          <p>Duración:</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
